<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="quickbeer.android">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for Firebase -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="quickbeer.android.QuickBeer"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".data.providers.generated.RateBeerProvider"
            android:authorities="${applicationId}.providers.RateBeerProvider"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <service
            android:name=".network.NetworkService"
            android:process=":networkservice" />

        <activity
            android:name=".features.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.profile.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.about.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.list.ListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
                android:name=".features.beerdetails.BeerDetailsActivity"
                android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="ratebeer.com" android:pathPrefix="/beer/" />
                <data android:scheme="http" android:host="www.ratebeer.com" android:pathPrefix="/beer/" />
                <data android:scheme="https" android:host="ratebeer.com" android:pathPrefix="/beer/" />
                <data android:scheme="https" android:host="www.ratebeer.com" android:pathPrefix="/beer/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.brewerdetails.BrewerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="ratebeer.com" android:pathPrefix="/brewers/" />
                <data android:scheme="http" android:host="www.ratebeer.com" android:pathPrefix="/brewers/" />
                <data android:scheme="https" android:host="ratebeer.com" android:pathPrefix="/brewers/" />
                <data android:scheme="https" android:host="www.ratebeer.com" android:pathPrefix="/brewers/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.styledetails.StyleDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="ratebeer.com" android:pathPrefix="/beerstyles/" />
                <data android:scheme="http" android:host="www.ratebeer.com" android:pathPrefix="/beerstyles/" />
                <data android:scheme="https" android:host="ratebeer.com" android:pathPrefix="/beerstyles/" />
                <data android:scheme="https" android:host="www.ratebeer.com" android:pathPrefix="/beerstyles/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.photoview.PhotoViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>

        <activity
            android:name=".features.barcodescanner.BarcodeScanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Read Barcode"/>

    </application>

</manifest>
